# 依赖目录
node_modules/
dist/

# 环境文件
.env
.env.local

# 编辑器文件
.vscode/
.idea/

# 系统文件
.DS_Store
Thumbs.db
*.log 

# Visual Studio 文件
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# .NET 构建结果
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
msbuild.log
msbuild.err
msbuild.wrn

# Visual C++ 缓存文件
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# 测试结果
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.* 